nettrine.orm:
    managers:
        default:
            connection: default
            metadataCache: @doctrine.metadataCache
            queryCache: @doctrine.queryCache
            resultCache: @doctrine.resultCache
            mapping:
                App:
                    directories: [%appDir%/Model]
                    namespace: App\Model

nettrine.dbal:
    connections:
        default:
            driver: pdo_mysql
            host: db
            user: root
            password: password
            dbname: products_management

nettrine.fixtures:
  paths:
    - %appDir%/fixtures

nettrine.migrations:
    directories:
        App\Migrations: %rootDir%/migrations